// Add your own custom styles here
.content {
    /* 默认状态 */
    a {
        color: #0969da;
        text-decoration: none;
      }
    /* 悬停状态 */
    a:hover {
        color: #0056b3;              /* 颜色加深 */
        text-decoration: underline;  /* 悬停显示下划线 */
    }
}

// dark mode style
.dark {
    .content {
    /* 默认状态 */
    a {
        color: #6C8AFF;
        text-decoration: none;
      }
    /* 悬停状态 */
    a:hover {
        color: #5555FF;              /* 颜色加深 */
        text-decoration: underline;  /* 悬停显示下划线 */
    }
}
}

blockquote {
    max-height: 230px; /* 最大高度，内容少时自动收缩 */
    overflow-y: auto;
}

/* 目录悬浮动效 */
.sticky-toc {
    transition: transform 0.3s ease;
}
/* 移动端隐藏目录 */
@media (max-width: 1024px) {
    .toc.left-0 {
      display: none;
    }
}

html {
    scroll-padding-top: 86px; /* 根据导航栏高度调整（示例为 80px） */
}

ol {
    padding-left: 1em; /* 默认一级列表缩进 2字符 */
  }
  ol ol {
    padding-left: 1em; /* 每级子列表额外缩进 2字符 */
  }