// Add your own custom styles here
.content {
    /* 默认状态 */
    a {
        color: #0969da;
        text-decoration: none;
      }
    /* 悬停状态 */
    a:hover {
        color: #0056b3;              /* 颜色加深 */
        text-decoration: underline;  /* 悬停显示下划线 */
    }
}

// dark mode style
.dark {
    .content {
    /* 默认状态 */
    a {
        color: #6C8AFF;
        text-decoration: none;
      }
    /* 悬停状态 */
    a:hover {
        color: #5555FF;              /* 颜色加深 */
        text-decoration: underline;  /* 悬停显示下划线 */
    }
}
}

blockquote {
    max-height: 230px; /* 最大高度，内容少时自动收缩 */
    overflow-y: auto;
}
