{{ define "main" }}
  {{ partial "page-header" . }}

  <section class="pt-10 pb-16 xl:pt-12 xl:pb-20">
    <div class="container">
      <div class="row justify-center">
        <article class="lg:col-8">
          {{ $image := .Params.image }}
          {{ if $image }}
            <div class="mb-10">
              {{ partial "image" (dict "Src" $image "Context" .Page "Alt" .Title "Class" "w-full rounded") }}
            </div>
          {{ end }}

          <div class="content">
            {{ .Content }}
          </div>
        </article>
      </div>
    </div>
  </section>
{{ end }}
